.trans{
  width: 250px;
    transform: translate(250px,-90px);
}
.transs{
    width: 450px;
    transform: translate(100px,200px);
}
.text h2{
 
    font-size: 32px;
    line-height: 1.8em;
    font-family: 'Manrope';
font-style: normal;
font-weight: 400;
}
.text{
    width: 500px;
}
.row{
  margin-bottom: 15px;
  font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
}