.section0{
    background-color: white;
}
.section1{
  
    text-align: center;
    padding-top: 70px;
    padding-bottom: 60px;
    
}
.section1 span{
   color: #777777;  
   font-size: 20px;
   line-height: 32px; 
}
.section1 h2{ 
    width: 600px;
    display: flex;
    margin-left: 350px;
   font-size: 35px;
   line-height: 50px;
   font-family: 'Manrope';
font-style: normal;
font-weight: 400; 
}
.portion{
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}
.cardnet{
    width: 330px;
    padding: 10px;
    line-height: 1.8rem;
}
.cardnet h3{
  font-size: 20px;
    line-height: 1.8rem;
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
}
.cardnet p{
    color:#777777;
  font-size: 18px;
    line-height: 1.9em;
    margin-bottom: 15px;
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
}