* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  color: white;
  list-style: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

header {
  background-color: #0a2640;
}

.header {
  background-color: #0a2640;
}

.li {
  padding: 10px;
  padding-bottom: 0.4em;
  border-bottom: 4px solid inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  background-color: rgb(179, 179, 210);
  font-family: sans-serif;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.nav {
  background-color: inherit;
  position: fixed;
  top: 0;
  z-index: 100;
  margin: 0 auto;
}

.margin-top {
  margin-top: 80px;
  padding: 40px;
}

.flex {
  gap: 4px;
  display: flex;
}

.flex2 {
  gap: 40px;
  display: flex;
  flex-wrap: wrap;
}

.page {
  width: 500px;
  height: 400px;
}

.with {
  width: 500px;
}

.aligen-center {
  align-items: center;
}

.justify-center {
  justify-content: flex-center;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.btn {
  font-size: 15px;
  border: 1px solid #fff;
  background-color: inherit;
  color: white;
  padding: 0.6em 2.8em;
  border-radius: 20px;
  margin-right: 10px;
}

.btnn {
  margin-top: 15px;
  color: black;
  background-color: #65e4a3;
}

.div1 h1 {
  font-size: 40px;
  line-height: 60px;
  color: #fff;
}

.div1 p {
  color: #fff;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 40px;
}

.imgs {
  background-color: #ffffff;
  margin-right: 20px;
  padding: 30px;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(66.5635px);
          backdrop-filter: blur(66.5635px);
  border-radius: 14.1323px;
}

.rasmlogo {
  margin-top: 20px;
  padding-left: 20px;
}

.elleps {
  transform: translate(290px, -180px);
  position: absolute;
  opacity: 0.5;
  z-index: 1;
}

.ml-a {
  margin-left: auto;
}

.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-left: auto;
}
.menu li {
  padding: 2px;
}
.menu li:hover {
  border-bottom: 1px solid white;
}

.ml-a {
  margin-left: auto;
}

.head {
  background-color: #0a2640;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 3;
  padding: 20px 0;
}

.body {
  background-color: #0a2640;
}

.section0 {
  background-color: white;
}

.section1 {
  width: 600px;
  text-align: center;
  transform: translateX(300px);
  padding-top: 70px;
  padding-bottom: 60px;
}

.section1 span {
  color: #777777;
  font-size: 20px;
  line-height: 32px;
}

.section1 h2 {
  font-size: 30px;
  line-height: 50px;
}

.portion {
  flex: 1;
}

.cardnet {
  width: 330px;
  padding: 10px;
  line-height: 1.8rem;
}

.cardnet h3 {
  font-size: 20px;
  line-height: 1.8rem;
}

.cardnet p {
  color: #777777;
  font-size: 18px;
  line-height: 1.9em;
  margin-bottom: 15px;
}

.trans {
  width: 250px;
  transform: translate(250px, -90px);
}

.transs {
  width: 450px;
  transform: translate(100px, 200px);
}

.text h2 {
  font-size: 32px;
  line-height: 1.8em;
}

.text {
  width: 500px;
}

.row {
  margin-bottom: 15px;
}

* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

body {
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
  background-color: #fff;
}

.container {
  width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

header {
  background-color: #0A253E;
}

.header-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  list-style: none;
  display: flex;
  margin-right: 40px;
}

.nav-item {
  margin-left: 40px;
}

.nav-link {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  font-style: normal;
}

.login {
  text-decoration: none;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #0A2640;
  background: #FFFFFF;
  border: 2px solid #FFFFFF;
  border-radius: 24px;
  padding: 8px 49px;
}

.hero {
  background-color: #0A253E;
}

.hero-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  width: 842px;
}

.hero-str {
  justify-content: center;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #F1F1F1;
  font-style: normal;
  margin-bottom: 12px;
}

.hero-title {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 64px;
  line-height: 84px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  font-style: normal;
  margin-bottom: 17.5;
}

.hero-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #F1F1F1;
  font-family: "Open Sans";
  margin-bottom: 166px;
}

.hero2 {
  display: flex;
  transform: translateY(-120px);
  align-items: center;
}

.img1 {
  width: 300px;
  margin-right: 40px;
}

.mtimg {
  margin-top: 10px;
  width: 280px;
  margin-right: 10px;
}

.imgt {
  width: 350px;
  margin-right: 40px;
}

.hero3-str {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  display: flex;
  align-items: center;
  font-family: "Open Sans";
  color: #777777;
}

.hero3-title {
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 72px;
  display: flex;
  align-items: center;
  color: #000000;
  font-family: "Manrope";
}

.hero3-text {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #777777;
  font-family: "Open Sans";
}

.hero3-content {
  width: 842px;
  margin: 0 auto;
  margin-bottom: 96px;
}

.span1 {
  margin-bottom: 12px;
  justify-content: center;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #F1F1F1;
  font-family: "Open Sans";
}

.hero4-content {
  padding-bottom: 94px;
}

.hero4 {
  padding-top: 94px;
  background-color: #0A2640;
}

.hero4-title {
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 72px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  font-family: "Manrope";
  margin: 0 auto;
  width: 842px;
}

.li5 {
  list-style: none;
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  line-height: 56px;
  display: flex;
  align-items: center;
  color: #4FE9A4;
  font-family: "Manrope";
  padding-left: 10%;
  margin-bottom: 32px;
  margin-top: 82px;
}

.ul5 {
  display: flex;
}

.ul6 {
  display: flex;
}

.li6 {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #F1F1F1;
  font-family: "Open Sans";
  padding-left: 10%;
}

.li7 {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #F1F1F1;
  font-family: "Open Sans";
  padding-left: 170px;
}

.span2 {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #777777;
  font-family: "Open Sans";
}

.hero4-text {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  font-family: "Open Sans";
  color: #777777;
}

.hero5-title {
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 72px;
  display: flex;
  align-items: center;
  color: #000000;
  font-family: "Manrope";
}

.hero5-content {
  margin: 0 auto;
  width: 842px;
  padding-top: 99px;
}

.no-s {
  margin-left: 51px;
}

.hero6 {
  background-color: #0A2640;
}

.span3 {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  display: flex;
  font-family: "Open Sans";
  color: #FFFFFF;
  align-items: center;
}

.hero6-title {
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 72px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  font-family: "Manrope";
}

.hero6-text {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #F1F1F1;
  font-family: "Open Sans";
}

.hero6-content {
  margin: 0 auto;
  width: 792px;
}/*# sourceMappingURL=main.css.map */