* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  color: white;
  list-style: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.header {
  background-color: #0a2640;
}

.li {
  padding: 10px;
  padding-bottom: 0.4em;
  border-bottom: 4px solid inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.nav {
  background-color: inherit;
  position: fixed;
  top: 0;
  z-index: 100;
  margin: 0 auto;
  border-radius: 10px;
}

.margin-top {
  margin-top: 80px;
  padding: 40px;
}

.flex {
  gap: 4px;
  display: flex;
}

.flex2 {
  gap: 40px;
  display: flex;
  flex-wrap: wrap;
}

.page {
  width: 600px;
  height: 400px;
}

.with {
  width: 500px;
}

.aligen-center {
  align-items: center;
}

.justify-center {
  justify-content: flex-center;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.btn {
  font-size: 15px;
  border: 1px solid #fff;
  background-color: inherit;
  color: white;
  padding: 0.6em 2.8em;
  border-radius: 20px;
  margin-right: 10px;
}

.btn:hover {
  font-size: 15px;
  border: 1px solid rgb(208, 135, 135);
  background-color: rgba(101, 228, 162, 0.3529411765);
  color: rgb(255, 255, 255);
  padding: 0.6em 2.8em;
  border-radius: 18px;
  margin-right: 10px;
}

.btn:active {
  font-size: 15px;
  border: 1px solid rgb(208, 135, 135);
  background-color: rgba(101, 228, 162, 0.3529411765);
  color: rgb(255, 255, 255);
  padding: 0.6em 2.8em;
  border-radius: 18px;
  margin-right: 10px;
}

.div1 h1 {
  font-size: 40px;
  line-height: 60px;
  color: #fff;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
}

.div1 p {
  color: #fff;
  font-size: 16px;
  line-height: 32px;
  margin-bottom: 40px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
}

.imgs {
  background-color: #ffffff;
  margin-right: 20px;
  padding: 30px;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(66.5635px);
          backdrop-filter: blur(66.5635px);
  border-radius: 14.1323px;
}

.rasmlogo {
  margin-top: 20px;
  padding-left: 20px;
  padding-bottom: 80px;
}

.elleps {
  transform: translate(290px, -180px);
  position: absolute;
  opacity: 0.5;
  z-index: 1;
}

.ml-a {
  margin-left: auto;
}

.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-left: auto;
}
.menu li {
  padding: 3px;
  border-bottom: 1px solid #0a2640;
}
.menu li:hover {
  border-bottom: 1px solid white;
}

.ml-a {
  margin-left: auto;
}

.head {
  background-color: #0a2640;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 3;
  padding: 20px 0;
}

.body {
  background-color: #0a2640;
}

.ml-b {
  width: 150px;
  margin-left: auto;
  font-size: 15px;
  border: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0.73);
  color: rgb(0, 0, 0);
  border-radius: 20px;
}

.section0 {
  background-color: white;
}

.section1 {
  text-align: center;
  padding-top: 70px;
  padding-bottom: 60px;
}

.section1 span {
  color: #777777;
  font-size: 20px;
  line-height: 32px;
}

.section1 h2 {
  width: 600px;
  display: flex;
  margin-left: 350px;
  font-size: 35px;
  line-height: 50px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
}

.portion {
  flex: 1;
}

.cardnet {
  width: 330px;
  padding: 10px;
  line-height: 1.8rem;
}

.cardnet h3 {
  font-size: 20px;
  line-height: 1.8rem;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
}

.cardnet p {
  color: #777777;
  font-size: 18px;
  line-height: 1.9em;
  margin-bottom: 15px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
}

.trans {
  width: 250px;
  transform: translate(250px, -90px);
}

.transs {
  width: 450px;
  transform: translate(100px, 200px);
}

.text h2 {
  font-size: 32px;
  line-height: 1.8em;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
}

.text {
  width: 500px;
}

.row {
  margin-bottom: 15px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
}

.section0 .root h2 {
  font-size: 34px;
  line-height: 1.5em;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
}
.section0 .root span {
  font-size: 18px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
}
.section0 .root div {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.578);
  padding: 2px;
  border-radius: 8px;
  line-height: 3.8em;
  margin-top: 15px;
}
.section0 .rost {
  margin-top: 40px;
  background-color: #0A2640;
  color: white;
}
.section0 .flex {
  width: 500px;
}
.section0 h2 {
  margin-top: 40px;
  width: 480px;
}
.section0 .imig {
  width: 400px;
}
.section0 .imig .imgs {
  background-color: white;
  width: 250px;
  transform: translate(50px, -200px);
}

.bac {
  padding-bottom: 80px;
  background-color: #0A2640;
}
.bac .status {
  margin-right: 40px;
  margin-top: 80px;
  width: 6%;
  height: 6%;
}
.bac h2 {
  margin: 40px auto;
  width: 600px;
  font-size: 36px;
  line-height: 60px;
  color: white;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
}
.bac .cards {
  margin-top: 40px;
  border-radius: 10px;
  padding: 40px;
  width: 350px;
  height: 380px;
  background-color: white;
}
.bac .cards p {
  font-size: 22px;
  line-height: 1.8em;
  margin-bottom: 30px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
}
.bac .cards span {
  font-size: 18px;
  line-height: 1.8em;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
}
.bac .cards a {
  color: blue;
}

.containertwo {
  width: 1000px;
  margin: 40px 100px;
}

.div-box {
  width: 500px;
  height: 164px;
  font-weight: 400;
  font-size: 36px;
  line-height: 56px;
  color: black;
}

.box1 {
  width: 400px;
  height: 140px;
  line-height: 40px;
  font-size: 20px;
  font-weight: 400;
}

.box2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}

.box3 {
  text-align: center;
  padding-top: 150px;
  width: 842px;
  margin-left: 180px;
}

.box3 h3 {
  line-height: 72px;
  font-size: 42px;
  font-weight: 400;
  color: black;
}

.box3 p {
  font-size: 1.5rem;
  color: rgb(200, 207, 213);
}

.box4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box5 {
  width: 300px;
  height: 424px;
  padding: 24px;
}

.box5 h4 {
  width: 300px;
  height: 99px;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}

.box5 p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  margin-left: 10px;
}

.box6 {
  display: flex;
  gap: 2rem;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  width: 300px;
  height: 32px;
}

.box7 {
  width: 1200px;
  height: 450px;
  background-color: #0A2640;
  border-radius: 12px;
}

.box7 h3 {
  width: 716px;
  height: 150px;
  line-height: 72px;
  font-weight: 400;
  font-size: 48px;
  color: #FFFFFF;
  margin-left: 22%;
  padding: 28px;
}

form {
  display: flex;
  justify-content: center;
  padding-top: 150px;
  gap: 2rem;
}

input {
  width: 370px;
  border-radius: 56px;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  border: 2px solid #FFFFFF;
  background-color: #FFFFFF;
}

button {
  width: 210px;
  height: 60px;
  background-color: #65E4A3;
  border: 2px solid #65E4A3;
  border-radius: 56px;
  text-align: center;
  font-size: 20px;
}

.spa {
  background-color: inherit;
  margin-left: 500px;
  width: 219px;
  height: 60px;
  padding: 16px 56px;
  border: 2px solid #0A2640;
  border-radius: 20px;
  margin-top: 50px;
  color: #777777;
}

.spa:hover {
  background-color: rgba(163, 72, 72, 0.4235294118);
  margin-left: 500px;
  width: 219px;
  height: 60px;
  padding: 16px 56px;
  border: 2px solid #0A2640;
  border-radius: 20px;
  margin-top: 50px;
  color: #ffffff;
}

.tem {
  height: 1000px;
}

.box8 {
  display: flex;
  justify-content: space-between;
  padding-top: 155px;
}

.box9 {
  width: 150px;
  height: 100px;
  font-weight: 400;
  font-size: 20px;
  line-height: 70px;
  color: #777777;
}

.pag {
  width: 300px;
  height: 150px;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #777777;
  margin-top: 15px;
}

.box9 h4 {
  color: black;
  font-weight: 900;
}/*# sourceMappingURL=main.css.map */